@import "tailwindcss";

@theme {
  --color-primary: hsla(40, 12%, 5%, 1);
  --color-secondary: hsl(38, 61%, 73%);
  --color-tertiary: hsla(30, 8%, 5%, 1);
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}